/**
 * @usb-shield/design-tokens - U.S. Bank Design Tokens - @version v2.1.0
 */

:root {
  --token-spacing-base: 16px;
  --token-spacing-0: 0;
  --token-spacing-1: 0.25rem;
  --token-spacing-2: 0.5rem;
  --token-spacing-3: 0.75rem;
  --token-spacing-4: 1rem;
  --token-spacing-5: 1.25rem;
  --token-spacing-6: 1.5rem;
  --token-spacing-7: 1.75rem;
  --token-spacing-8: 2rem;
  --token-spacing-9: 2.25rem;
  --token-spacing-10: 2.5rem;
  --token-spacing-11: 2.75rem;
  --token-spacing-12: 3rem;
  --token-spacing-16: 4rem;
  --token-spacing-20: 5rem;
  --token-spacing-24: 6rem;
  --token-font-base: HelveticaNeue-USB, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --token-font-callout: 'Roboto Slab', serif;
  --token-font-size-root: 16px;
  --token-font-size-xs: 0.75rem;
  --token-font-size-sm: 0.875rem;
  --token-font-size-base: 1rem;
  --token-font-size-lg: 1.25rem;
  --token-font-size-xl: 1.5rem;
  --token-font-size-2xl: 1.75rem;
  --token-font-size-3xl: 2rem;
  --token-font-size-4xl: 2.5rem;
  --token-font-size-5xl: 3rem;
  --token-font-weight-reg: 400;
  --token-font-weight-light: 200;
  --token-font-weight-med: 500;
  --token-font-weight-bold: 700;
  --token-line-height-flat: 1;
  --token-line-height-tight: 1.25;
  --token-line-height-loose: 1.5;
  --token-background-primary: rgb(255, 255, 255);
  --token-background-secondary: rgb(247, 247, 250);
  --token-background-tertiary: rgb(242, 242, 245);
  --token-background-quaternary: rgb(205, 205, 211);
  --token-background-dark: rgb(85, 85, 85);
  --token-background-brand-primary: rgb(12, 32, 116);
  --token-background-brand-secondary: rgb(222, 22, 43);
  --token-background-brand-secondary-active: rgb(160, 16, 31);
  --token-background-brand-interaction: rgb(10, 65, 207);
  --token-background-error: rgb(250, 237, 239);
  --token-background-confirmation: rgb(245, 250, 247);
  --token-background-overlay: rgba(0, 0, 0, 0.7);
  --token-text-color-brand-primary: rgb(12, 32, 116);
  --token-text-color-brand-secondary: rgb(222, 22, 43);
  --token-text-color-interaction: rgb(10, 65, 207);
  --token-text-color-primary: rgb(44, 44, 44);
  --token-text-color-secondary: rgb(85, 85, 85);
  --token-text-color-tertiary: rgb(110, 110, 110);
  --token-text-color-inverse-primary: rgb(255, 255, 255);
  --token-text-color-inverse-secondary: rgb(164, 171, 203);
  --token-text-color-error: rgb(190, 19, 36);
  --token-text-color-confirmation: rgb(10, 133, 61);
  --token-color-divider-light-background: rgb(205, 205, 211);
  --token-color-divider-dark-background: rgb(255, 255, 255);
  --token-border-input: rgb(133, 133, 133);
  --token-border-base: rgb(205, 205, 211);
  --token-border-brand: rgb(12, 32, 116);
  --token-border-interaction: rgb(10, 65, 207);
  --token-border-subtle: rgb(242, 242, 245);
  --token-border-dark: rgb(85, 85, 85);
  --token-border-error: rgb(190, 19, 36);
  --token-border-focus: rgb(10, 65, 207);
  --token-border-inverse: rgb(255, 255, 255);
  --token-rounded-square: 0;
  --token-rounded-sm: 0.25rem;
  --token-rounded-md: 0.5rem;
  --token-rounded-lg: 0.75rem;
  --token-rounded-full: 50%;
  --token-shadow-none: "none";
  --token-shadow-sm: "0 1px 3px 0 rgba(0,0,0,.12)";
  --token-shadow-md: "0 4px 6px -1px rgba(0,0,0,.12) , 0 2px 4px -1px rgba(0,0,0,.12)";
  --token-shadow-lg: "0 16px 24px -4px rgba(0,0,0,.12) , 0 4px 8px -2px rgba(0,0,0,.6)";
  --token-shadow-xl: "0 24px 48px -12px rgba(0,0,0,.20)";
  --token-timing-default-ease: "0.25s ease";
  --token-timing-default-ease-in-out: "0.25s ease-in-out";
  --token-timing-fast-ease: "0.1s ease";
  --token-timing-fast-ease-in-out: "0.1s ease-in-out";
  --token-timing-moderate-ease: ".5s ease";
  --token-timing-moderate-ease-in-out: ".5s ease-in-out";
  --token-timing-long-ease: "1s ease";
  --token-timing-long-ease-in-out: "1s ease-in-out";
  --token-screen-lg: "@media only screen and (min-width: 64rem)";
  --token-screen-md: "@media only screen and (min-width: 48rem)";
  --token-screen-sm: "@media only screen and (max-width: 47.9375rem)";
  --token-color-brand-primary: rgb(12, 32, 116);
  --token-color-brand-secondary: rgb(222, 22, 43);
  --token-color-brand-secondary-active: rgb(160, 16, 31);
  --token-color-brand-interaction: rgb(10, 65, 207);
  --token-color-brand-white: rgb(255, 255, 255);
  --token-color-error-msg: rgb(190, 19, 36);
  --token-color-error-msg-2: rgb(250, 237, 239);
  --token-color-warning-msg: rgb(241, 159, 32);
  --token-color-success-msg: rgb(10, 133, 61);
  --token-color-neutral-msg: rgb(54, 104, 218);
  --token-color-grey-90: rgb(44, 44, 44);
  --token-color-grey-80: rgb(85, 85, 85);
  --token-color-grey-70: rgb(110, 110, 110);
  --token-color-grey-60: rgb(133, 133, 133);
  --token-color-grey-30: rgb(205, 205, 211);
  --token-color-grey-20: rgb(242, 242, 245);
  --token-color-grey-10: rgb(247, 247, 250);
  --token-color-blue-grey: rgb(164, 171, 203);
  --token-color-data-1: rgb(83, 183, 255);
  --token-color-data-2: rgb(57, 191, 113);
  --token-color-data-3: rgb(182, 190, 52);
  --token-color-data-4: rgb(255, 171, 76);
  --token-disabled-element-color: rgb(205, 205, 211);
}
